.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }

  .input {
      padding-top: 20px;
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .next-row {
      padding-top: 100px;
  }

  .spinner {
    display: table;
    margin: 0 auto;  
  }