.example-card {
    width: 80%;
    border: solid;
    margin: 20px;
}

.inline {
    display: flex;
    flex-direction: inherit;
    align-items: baseline;
    background-color: aliceblue;
}

.sub {
    display: block;
    padding: 10px;
}

.center {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.large {
    width: 200px;
    height: 50px;        
}

.medium {
    width: 100px;
    height: 50px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
}